{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@themes": "./src/themes",
          "@layouts": "./src/layouts",
          "@utils": "./src/utils",
          "@lib": "./src/lib"
        }
      }
    ]
  ]
}
